@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', 'Poppins', sans-serif;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite; /* Default for larger screens */
}

/* For small screens (sm breakpoint and below) */
@media (max-width: 639px) { /* Tailwind's 'sm' breakpoint is 640px, so max-width: 639px covers small screens */
  .animate-marquee {
    animation: marquee 5s linear infinite; /* Faster animation for small screens */
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}